<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="custom.css">
        <link rel="stylesheet" href="color.css">

    </head>
    <body>

        <div class="site">

            <div id="navigation">
                <ul>
                    <li {{ page.home     }}><a href="/">Home</a></li>
                    <li {{ page.portfolio    }}><a href="/portfolio/">Portfolio</a></li>
                    <li {{ page.contact     }}><a href="/contact/">Contact</a></li>
                </ul>
            </div>

            {{ content }}

          <div class="footer">
              <p id="copyright">&copy; 2014, RED VULPES. All rights reserved.</p>
          </div>
        </div>

    </body>
</html>
